<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="css/change_pass.css">
    <script src="apps/change_pass.js"></script>
</head>
<body>
    <div class="container">
        <form formaction="/change_password" method="POST">
        <h1>Change Password</h1>
        <div id="oldpass" <% if(list.oldpass){%>
            style = "display : block;"
       <% } %>>New Password must not be same as Old Password!</div>
       <div id="wrongpass" <% if(list.wrongpass){%>
        style = "display : block;"
   <% } %>>Password Constraints mismatch!</div>
        <label>Enter New Password</label><br>
        <input type="password" name="pass1" id="pass1" oninput="validate()" required><br>
        <div id="popup">Password must contain alteast 8 characters with 1 special character, 1 number , 1 uppercase and 1 lowercase letter</div>
        <label>Re-Enter New Password</label><br>
        <div id="popup1">'Password mismatch'</div>
        <input type="password" name="pass2" id="pass2" oninput="validate1()"><br>
        <input type="submit" id="button" href="change_password" >
    </form>
    </div>
</body>
</html>