<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = "stylesheet" type = "text/css" href = "css/index.css">
    <script src="apps/index.js"></script>
</head>
<body  class="bg">
    <div  class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><div class="menu"></div>
          <div class="menu"></div>
          <div class="menu"></div></button>
        <div id="myDropdown" class="dropdown-content">
              <a href="/">Welcome</a>
              <a href="login">Home</a>
              <a href="signup">Create Account</a>
              <a href="login">Login</a>  </div>
      </div>
      
    <div class="w3-container w3-animate-top"><h1>Welcome to ShopEasy</h1></div>
    <div class="w3-container w3-animate-zoom"><h3 class="c1"><q>Nothing Haunts like the thing we don't Buy</q></h3></div>
    <div class="w3-container w3-animate-bottom"><p class="c2">No worries now, Here comes the ShopEasy especially for you to make your shopping easy and flexible. 
        Go get whatever the products you need and enjoy being leisure at home. No travel stress, no time waste, nothing.
        Take your mobile/lap, log into ShopEasy, select the product of your choice from the thousands of products available.
         just place the order and get it being at home easily.
    </p></div>
    <div><p class="c1">Wanna explore the shopping paradise?<a href="signup" style="color: rgb(246, 245, 247);">Login/Signup</a></p></div>

    
</body>
</html>